#welcome {
    margin-top: 10em;
    margin-bottom: 10em;
}

#features {
    flex-direction: column;
    padding-top: 3em;
}
#features p {
   width: 50%; 
}

#features-area {
    margin-top: 70px;
}

.feature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 3em;
}
.feature .ola-image img {
    width: 450px;
}
.feature .pad {
    padding-right: 10%;
}
.feature .desc {
    max-width: 30em;
}